<!DOCTYPE html>

<html>

<head>
  <title>Request Header Parser</title>
  <link rel="shortcut icon"
    href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-100">
<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mb-4">Request Header Parser Microservice</h1>

  <h2 class="text-2xl font-bold mb-2">Example Usage:</h2>
  <p class="mb-4">
    <a href="api/whoami" class="text-blue-500">[base url]/api/whoami</a>
  </p>

  <h2 class="text-2xl font-bold mb-2">Example Output:</h2>
  <p class="mb-4">
    <code class="bg-gray-200 p-2 rounded">
      {"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",
      "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}
    </code>
  </p>
</div>
<div class="footer bg-gray-200 py-4">
  <p class="text-center">
    by <a href="https://www.freecodecamp.org" class="text-blue-500">freeCodeCamp</a>
  </p>
</div>
</body>


</html>
